@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

/* reset no css geral do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1f1d1c;
}


ul {
    list-style: none;
}

/*minhas predefinições favoritas */
:root {
    --black: #000000;
    --deep-blue: #00415E;
    --light-blue: #227093;
    --soft-black: #1f1d1c;
    --deep-grey: #2F3640;
    --light-grey: #F5F6FA;
    --medio-grey: #D9D9D9;
    --white: #FFFFFF;
    --ice-white: #fffafa;
    --smoke-white: #f5f5f5;
    --yellow: #ECEF50;
    --margin: 90px;
    --margin-top: 150px;
    --padding-dinamico: clamp(35px, 8%, 70px);
}

html {
    font-family: Josefin-sans, sans-serif;
    font-weight: 500;
}

body {
    background: var(--ice-white);
    color: var(--black);
    width: 100vw;
    overflow-x: hidden;
}

nav {
    max-width: 100%;
    max-height: 10vh;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu a {
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #227093;
    letter-spacing: 1px;

}

.menu a::after {
    content: "";
    width: 0;
    height: 4px;
    display: block;
    border-radius: 200px;
    background-color: #bddeed;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    width: 100%;

}


.nav-division {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid var(--light-grey);
    box-shadow: 0 10px 10px -10px #bddeed;
    margin: -50px auto 10px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 90vh;
    width: 100%;
}

.load-page {
    animation: 2s ease-out 0.1s 1 encolhertela;
}

@keyframes encolhertela {
    from {
        background: rgb(126, 214, 223);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        background: rgba(126, 214, 223, 0);
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

    }
}

.background-banner{
    background-image: url(/assets/img/background-line.png);
    background-position: 25px 125px;
    background-size:contain;
    background-repeat: no-repeat;
    
}


.banner {
    
    margin-top: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    flex-direction: column;
    color: var(--soft-black);
    padding: var(--padding-dinamico);

    background: rgba(126, 214, 223, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(126, 214, 223, 0.3);

}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    height: 50px;
    color: var(--deep-blue);
}

.botoes {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    column-count: 4;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    padding: var(--padding-dinamico);
}

button {
    background-color: white;
    border-color: rgba(126, 214, 223, 0.1);
    padding: 0.5rem;
    transition: all 0.3s ease;
}

button>a:hover {
    color: #227093;
    font-weight: 600;
}

footer {
    color: var(--soft-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

footer>p>a{
    text-decoration: underline;
}

footer>p>a:hover {
    color:#227093;
}